/* Home Section - globals */

/* Home Container */
.homeContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #181c1c;
}

.homeContainer.darkTheme {
    background-color: #181c1c;
}