.titleHeader {
    font-size: 16px;
    font-weight: 500;
}

.subtitleHeader {
    color: #6b7280;
    font-size: 14px;
    margin-top: -1px;
}

/* .themeDark {
    background-color: #171616 !important;
    color: #fff;
} */

.themeImageWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 4px;
}

.themeImageWrapper:hover {
    cursor: pointer;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.themeImage {
    width: 70px;
    height: 55px;
    object-fit: cover;
    border-radius: 8px;
    padding: 1px;
    background-clip: content-box;
}

.themeImage.checked {
    border: 2px solid var(--accent-color);
}

.imageDescContainer {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 1px;
}

.selectRadio {
    background-color: var(--theme-color);
    border: 1px solid #777;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectRadio.radioChecked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.checkIcon {
    display: none;
    color: #fff;
    font-size: 8px;
}

.checkIcon.iconChecked {
    display: inline-block;
}