/* Header Logo and Text */
.placifyDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    gap: 2px;
}

.placifyHeaderIcon {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.placifyCompanyName {
    color: #000;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background: none;
    margin-top: 3px;
    transition: color 300ms ease-in-out;
}

.placifyCompanyName.darkTheme {
    color: #eee;
    filter: brightness(1);
}

.placifyDetailsContainer:hover .placifyCompanyName {
    color: #555;
}

.placifyDetailsContainer.darkTheme:hover .placifyCompanyName.darkTheme {
    color: #aaa;
}