.settingsIcon {
  cursor: pointer;
  color: #000;
  font-size: 18px;
  transition: color 250ms ease-in-out;
}

.settingsIcon.darkTheme{
  color: #fff;
}

.settingsIcon:hover {
  color: #333;
}

.settingsIcon.darkTheme:hover{
  color: #aaa;
}