body {
    width: 500px;
    height: 600px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
  }
  